*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   background-color: #1d2630;
   height: 35%;
   width: 570px;
   position: absolute;
   margin: auto;
   top: 50px;
   left: 0;
   right: 0;
   padding: 30px 0;
   border-radius: 8px;
}
.block1{
   margin: 0 auto;
   width: 700px;
   height: 550px;
   border-radius: 20px;
   border: solid 2px white;
}
.Text{
   margin: 0 auto;
   margin-top: 30px;
   width: 600px;
   height: 300px;
   border: solid 2px wheat;
   border-radius: 20px;
}
.Text p{
   align-items: center;
   color: white;
   padding: 30px 20px;
   font-size: 40px;
}
.button1{
   margin: 20px 140px;
   padding: 20px 2px;
   display: flex;
   justify-content:space-between;
   width: 400px;
   height: 150px;
   border: solid 2px white;
   border-radius: 20px;
}
.button2{
   background-color: green;
   width: 90px;
   height: 50px;
   margin: 30px 20px;
   border-radius: 8px;
    border: solid 2px wheat;
    color: aliceblue;
}
#Antwotrt{
   background-color: green;
   width: 90px;
   height: 50px;
   margin: 30px 20px;
   border-radius: 8px;
   border: solid 2px wheat;
   color: aliceblue;
   text-align: center;
}